* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
 
  padding: 15px;
  margin: 5px 0 22px 0;
  text-align: center;
  display: inline-block;
  border: none;
  background: #d6b2b2;
}

.container{
  background-color: #eca1a6;
  margin: 71px 500px;
  height: auto;
  width: 400px;
  border: 3px solid black;
  border-radius: 20px;
}

.main {
    text-align: center;
  }
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  margin: 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  border-radius: 5px;
  text-align: center;
}
.center{
  text-align: center;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

a{
  text-decoration: none;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: inline;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 20%;
    text-align: center;
  }
  
}
